.about-texas-seal{
    display: flex;
    justify-content: center; 
}
.about-image-texas-seal{
    margin-top: 20px;
    max-width: 200px;
    max-height: 250px;
}
.lonestar-about-image{
    
    max-width: 250px;
    max-height: 120px;
    margin-top: 150px;
    margin-left: 20px; 
    float: left;
    
}
p{
    line-height: 2 ;
    margin-top: 0 ;
    margin-bottom: 0 ;
    text-indent: 20px ;
}

.lonestar-about-div-2 p{
    float:right;
    margin-right: 30px;
    
    
}
.lonestar-text-1{
    max-width: 850px;
    padding: 20px;
}

.lonestar-text-2{
   
    max-width: 850px;
    padding: 20px;
}
.lonestar-text-3{
    float: left;
    max-width: 850px;
    margin-top: 20px;
}
.lonestar-text-4{
    float: left;
    max-width: 850px;
    margin-top: 20px;
}
.lonestar-about-image-2{
    max-width: 250px;
    max-height: 150px;
    margin-top:150px;
    padding: 0 50px;
    float: right;
    
}
@media screen and (orientation: portrait) {
    img.lonestar-about-image { max-width: 100%; align-items: center;}
  }