.texas-facts-title-div{
    display: flex;
    justify-content: center;
}
.texas-facts-list-div{
    display: flex;
    justify-items: center;
}
.facts-list li{
    align-content: center;
    margin-top: 50px;
    margin: 1em;
}